services:
  wordpress:
    container_name: wordpress
    image: wordpress:6.9
    ports:
      - published: 80
        target: 80
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_NAME: ${MYSQL_DATABASE}
      WORDPRESS_DB_USER: ${MYSQL_USER}
      WORDPRESS_DB_PASSWORD: ${MYSQL_PASSWORD}
      TZ: ${TZ}
    volumes:
      - type: volume
        source: wordpress-volume
        target: /var/www/html
    depends_on:
      db:
        condition: service_healthy

  db:
    container_name: mysql
    image: mysql:lts
    ports:
      - published: 3306
        target: 3306
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      TZ: ${TZ}
    healthcheck:
      test: mysqladmin ping
    volumes:
      - type: volume
        source: db-volume
        target: /var/lib/mysql

volumes:
  wordpress-volume:
  db-volume:
